<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodrigo.myapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="alarm.MyAlarm">
            <intent-filter>
                <action android:name="STARTED_ALARM" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="createTask.CreateTaskActivity"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="taskList.TaskListActivity"
            android:label="@string/title_activity_task_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="database.AppContentProvider"
            android:authorities="com.example.rodrigo.myapplication.provider" />

        <activity
            android:name="updateTask.UpdateTaskActivity"
            android:label="@string/title_activity_update_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="weekList.WeekListActivity" />
        <activity android:name="categoryPieChart.PieChartActivity"></activity>
    </application>

</manifest>
